
body{
    background-repeat: no-repeat;
    background-position: center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
/*A1-3*/
div[class="A01"] {
    width: 200px;
    height: 100px;
    z-index:999 !important;
    position: relative;

    top:100px;
    left:80px;

    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

/*A4-7*/
div[class="A04"] {
    width: 200px;
    height: 100px;
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

/*A8-11*/
div[class="A08"] {
    width: 200px;
    height: 100px;
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

/*A12-14*/
div[class="A12"] {
    width: 200px;
    height: 100px;
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}



/*B1-17*/
div[class^="B"] {
    width: 10px;
    height: 120px;
    z-index:999 !important;
    font: 6px arial;
    /*border: solid blue;*/
    display: inline-block;

    position: relative;
    top:150px;
    left:245px;
}



/*C1-17*/
div[class^="C"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:210px;
}
/*D1-19*/
div[class^="D"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:187px;
}



/*E1-19*/
div[class^="E"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:158px;
}
/*F1-19*/
div[class^="F"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:135px;
}



/*G1-19*/
div[class^="G"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:106px;
}
/*H1-19*/
div[class^="H"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:83px;
}



/*I1-19*/
div[class^="I"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:58px;
}
/*J1-17*/
div[class^="J"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:35px;
}



/*K1-17*/
div[class^="K"] {
    width: 10px;
    height: 100px;
    z-index:999 !important;
    font: 6px arial;
    display: inline-block;

    position: relative;
    top:150px;
    left:10px;
}

/*L1-3*/
div[class^="L"] {
    width: 200px;
    height: 100px;
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

/*L4-12*/
div[class^="L"] {
    width: 200px;
    height: 100px;
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

/*L13-15*/
div[class^="L"] {
    width: 200px;
    height: 100px;
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}