/* we need to move this to a css file eventually*/
div[class*="A0"] {
    width: 200px;
    height: 100px;

    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}