
body{
    background-repeat: no-repeat;
    background-position: center center fixed;
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    */
    height:100%;
}


/*A1-3
div[class="A01"] {
    width: 70px;
    height: 20px;
    z-index:999 !important;
    position: relative;
    border: solid black;
    top:50px;
    left:80px;
    font: 6px arial;display: inline-block;

    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
*/


